.counter {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}
.counter-btn {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0rem 1rem !important;
}
