@import url('https://fonts.googleapis.com/css2?family=Allura&family=Questrial&display=swap');
/* font-family: 'Allura', cursive;
font-family: 'Questrial', sans-serif; */

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0;
  padding-left: 0;
  align-self: center;
}

body {
  font-family: 'Questrial', sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  align-content: space-between !important;
}


/*---------------------------------- */
/*--------------Links--------------- */
.link {
  align-self: stretch;
  color: #8fa382;
}
.link:hover {
  color: coral;
  text-decoration: none;
}
.currentLink {
  align-self: stretch;
  color: coral;
}
.currentLink:hover {
  text-decoration-line: none;
}
.dropdown-menu {
  background-color: beige;
}
.dropdown-item {
  color: inherit;
  background-color: inherit;
}
.dropdown-item:hover {
  color: inherit;
  background-color: inherit;
}
.brandBtn {
  border: none;
  border-radius: 30px;
  background-color:#8fa382;
  color: beige;
  padding: 1rem;
  margin: .15rem;
  font-size: medium;
  font-weight: bold;
}

/*---------------------------------- */
/*--------------Admin--------------- */
.contentColAdmin {
  margin-left: 25%;
  margin-top: 10vh;
  margin-bottom: 4vh;
  padding: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 2s linear;
    width: 100px;
    justify-self: center;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
@media (max-width: 500px) {

  .productItem {
    justify-content: center;
    width: 100%;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 130px;
  }  
  .productItemInfo {
    margin-left: 30%;
    background-color: #8fa382;
    height: 130px;
    border-radius: 30px;
  }
  .productItem div {
    align-self: center;
  }
  .productItem h2 {
    font-size: larger;
  }
  .itemImg {
    display: none;  
  }
  .itemCart {
    font-size: small;
  }
  .itemCart h3 {
    font-size: x-large;
  }
  .itemCart button {
    font-size: small;
  }
  
} */
@media (max-width: 767px) {
  .bg-brand {
    background-color: beige;
    height: 10vh;
  }
  .brandTitle {
    font-family: 'Allura', cursive;
    color:#8fa382;
    margin: 0;
    font-size: x-large;
  }  
  .contentColAdmin {
    margin-left: 0;
    margin-top: 20vh;
    margin-bottom: 5vh;
    padding: 10px;
  }  
  .navbar {
    padding: 0;
  }
  
}