.suggItemCard {
  background-color: beige;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
  padding-top: 2vh;
  border-radius: 2vh;
}
.suggItemCard p {
  margin-bottom: 0;
}
.suggItemCard img {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
